---
const currentYear = new Date().getFullYear();
---

<footer class='w-full bg-slate-900/25'>
    <div class='container flex flex-col md:flex-row items-center justify-center gap-2 text-sm py-2'>
        <p>Copyright - &copy;{currentYear} by Patrick McDermott.</p>
    </div>
</footer>
