<a
    href='#main'
    class='skip-link absolute z-50 mt-3 font-bold text-gray-500 outline outline-[5px] outline-offset-0 drop-shadow-2xl'
>
    Skip to content
</a>

<style>
    .skip-link {
        left: calc(50%-100px);
        transform: translateY(-200%);
        transition: none;
    }

    .skip-link:focus {
        transform: translateY(0);
    }
</style>
