---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import MobileMenu from '@/components/MobileMenu';
import ScriptLoader from '@/components/ScriptLoader.astro';
import SkipToContentLink from '@/components/SkipToContentLink.astro';
import ToTopButton from '@/components/ToTopButton.astro';
import { NAV_LINKS } from '@/constants';
import { cn } from '@/utils';

export interface Props {
    title?: string;
    description?: string;
    permalink?: string;
}
---

<!doctype html>
<html lang='en' class='overflow-x-hidden break-words'>
    <head>
        <BaseHead {...Astro.props} />
    </head>
    <body class='text-lg relative min-h-screen flex flex-col justify-between overflow-x-hidden'>
        <SkipToContentLink />
        <Header />
        <MobileMenu client:only="react" />
        <main id='main' class='flex-1'>
            <section class='container flex justify-between items-start gap-12 pt-12'>
                <div class='flex-1 p-4'><slot name='hero-content' /></div>
                <nav class='hidden lg:flex border-l border-slate-400/25 mt-12'>
                    <ul class='flex flex-col gap-3 px-6'>
                        {
                            NAV_LINKS.map(({ title, href }) => (
                                <li>
                                    <a
                                        {href}
                                        class={cn(
                                            'opacity-85 hover:opacity-100 text-2xl',
                                            Astro.url.pathname.split('/')[1] == href.split('/')[1]
                                                ? 'text-brand'
                                                : ''
                                        )}
                                    >
                                        {title}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
            </section>
            <slot />
        </main>
        <Footer />
        <ToTopButton />
        <ScriptLoader />
    </body>
</html>
